<a href="https://colab.research.google.com/github/Veni7708/veni/blob/main/Liver%20analysis%20task%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
from scipy import stats


data=pd.read_csv('/content/indian_liver_patient.csv')
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [23]:
data.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [22]:
data.isnull().any()

Age                           False
Gender                        False
Total_Bilirubin               False
Direct_Bilirubin              False
Alkaline_Phosphotase          False
Alamine_Aminotransferase      False
Aspartate_Aminotransferase    False
Total_Protiens                False
Albumin                       False
Albumin_and_Globulin_Ratio     True
Dataset                       False
dtype: bool

In [7]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [38]:
data['Albumin_and_Globulin_Ratio'].fillna(data['Albumin_and_Globulin_Ratio'].mode()[0],inplace=True)
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [39]:
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()
data['Gender']= lc.fit_transform(data['Gender'])

In [42]:
data_duplicates=data[data.duplicated(keep=0)]
data_duplicates

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
18,40,0,0.9,0.3,293,232,245,6.8,3.1,0.80,1
19,40,0,0.9,0.3,293,232,245,6.8,3.1,0.80,1
25,34,1,4.1,2.0,289,875,731,5.0,2.7,1.10,1
26,34,1,4.1,2.0,289,875,731,5.0,2.7,1.10,1
33,38,0,2.6,1.2,410,59,57,5.6,3.0,0.80,2
34,38,0,2.6,1.2,410,59,57,5.6,3.0,0.80,2
54,42,1,8.9,4.5,272,31,61,5.8,2.0,0.50,1
55,42,1,8.9,4.5,272,31,61,5.8,2.0,0.50,1
61,58,1,1.0,0.5,158,37,43,7.2,3.6,1.00,1
62,58,1,1.0,0.5,158,37,43,7.2,3.6,1.00,1
105,36,1,5.3,2.3,145,32,92,5.1,2.6,1.00,2
106,36,1,5.3,2.3,145,32,92,5.1,2.6,1.00,2
107,36,1,0.8,0.2,158,29,39,6.0,2.2,0.50,2
108,36,1,0.8,0.2,158,29,39,6.0,2.2,0.50,2
137,18,1,0.8,0.2,282,72,140,5.5,2.5,0.80,1
138,18,1,0.8,0.2,282,72,140,5.5,2.5,0.80,1
142,30,1,1.6,0.4,332,84,139,5.6,2.7,0.90,1
143,30,1,1.6,0.4,332,84,139,5.6,2.7,0.90,1
157,72,1,0.7,0.1,196,20,35,5.8,2.0,0.50,1
158,72,1,0.7,0.1,196,20,35,5.8,2.0,0.50,1
163,39,1,1.9,0.9,180,42,62,7.4,4.3,1.38,1
164,39,1,1.9,0.9,180,42,62,7.4,4.3,1.38,1
173,31,1,0.6,0.1,175,48,34,6.0,3.7,1.60,1
174,31,1,0.6,0.1,175,48,34,6.0,3.7,1.60,1
200,49,1,0.6,0.1,218,50,53,5.0,2.4,0.90,1
201,49,1,0.6,0.1,218,50,53,5.0,2.4,0.90,1